/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo as cores principais */
:root {
    --vermelho: #d32f2f;
    --preto: #212121;
    --branco: #ffffff;
}

/* Corpo e fontes */
body {
    font-family: Arial, sans-serif;
    background-color: var(--preto);
    color: var(--branco);
}

header {
    background-color: var(--vermelho);
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    font-size: 2rem;
    color: var(--branco);
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--branco);
    text-decoration: none;
    font-size: 1.1rem;
}

/* Contêiner dos filmes */
.filmes-em-cartaz {
    padding: 40px;
}

.filmes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filme {
    background-color: var(--preto);
    border: 1px solid var(--vermelho);
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.filme img {
    width: 100%;
    height: 300px; /* Tamanho fixo para as imagens */
    object-fit: cover;
}

.informacoes-filme {
    padding: 15px;
}

.informacoes-filme h3 {
    font-size: 1.5rem;
    color: var(--vermelho);
}

.informacoes-filme p {
    font-size: 1rem;
    margin: 10px 0;
}

button {
    background-color: var(--vermelho);
    color: var(--branco);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 10px;
}

button:hover {
    background-color: #b71c1c;
}

/* Alinhamento dos filmes */
.filme.esquerda {
    order: 1;
}

.filme.centro {
    order: 2;
    text-align: center;
}

.filme.direita {
    order: 3;
}

/* Rodapé */
footer {
    background-color: var(--vermelho);
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
